*{
    margin: 0;
    padding: 0;
    background-color: blue;
}
body div{
    width: 20rem;
    height: 20rem;
    background-image: url("./img/S.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;

}
body{
    height: 100vh;
}